@import "fonts.css";

/* ROOT start */
:root {
    --ffmain: "MS";
    --ffnun: "NS";
    --ffwork: "WS";
    --ffmyr: "MD";
    --green: #007d2f;
    --dark: #191919;
    --darkAlt: #1d1d1d;
    --darkAltsec: #171717;
    --grey: #787878;
    --bgbright: #f8f9f9;
    --bggrey: #f5f5f5;
    --bgdark: #141414;
    --linecol: #d8d8d8;
    --salat: #669900;
    --darkGrey: #bcbcbc;
}

body {
    font-family: var(--ffmain);
    font-weight: 500;
    color: var(--dark);
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}
/* ROOT end */
/* =========================== */
/* HEADER start */
    .header {
        background: url(../img/header-bg.jpg) center center / cover no-repeat;
        background-attachment: fixed;
        padding-bottom: 40px;
    }

    .navbar-collapse {
        margin-top: 15px;
    }

    .menu__link {
        margin-right: 32px;
        text-transform: uppercase;
        color: var(--dark);
        font-size: 12px;
        line-height: 24px;
        transition: 0.3s;
    }

    .menu__link:hover {
        color: var(--green);
    }

    .navbar-toggler {
        color: var(--salat);
        border-color: var(--salat);
    }

    .navbar-toggler i {
        color: var(--salat);
        font-size: 25px;
    }
    
    .navbar-toggler:focus {
        outline: none;
        border: 1px solid var(--salat);
    }

    .header__title {
        font-size: 35px;
        color: var(--darkAlt);
    }

    .header__description {
        font-size: 15px;
        font-weight: 100;
        color: var(--grey);
        line-height: 24px;
        margin-bottom: 52px;
    }

    .header__btn {
        font-size: 12px;
        background: var(--green);
        text-transform: uppercase;
        color: var(--white);
        padding: 22px 54px 23px 45px;
    }

    .header__btn:hover {
        color: var(--white);
        background: var(--salat);
    }

    .navbar-collapse {
        margin-top: 0;
    }
/* HEADER end */
/* =========================== */
/* CONTENT start */
.content {
    margin-top: 91px;
    padding-bottom: 42px;
}

.content__title {
    font-size: 34px;
    font-weight: 500;
    color: var(--dark);
    line-height: 38px;
}

.content__info {
    font-family: var(--ffnun);
    font-size: 13px;
    color: var(--grey);
    line-height: 21px;
    margin-top: 35px;
    margin-bottom: 50px;
}
/* CONTENT end */
/* =========================== */
/* SKILLS start */
.skills {
    background: var(--bgbright);
    display: flex;
    flex-wrap: wrap;
}

.skills__graphics {
    width: 50%;
}

.skills__img {
    background: url(../img/prof-skils.jpg) center center / cover no-repeat;
    z-index: 10;
    width: 50%;
}

.skills__fblock {
    max-width: 555px;
    width: 100%;
    margin-left: auto;
    padding: 164px 0;
}

.skills__title {
    font-size: 30px;
    font-weight: 500;
    color: var(--darkAltsec);
    line-height: 32px;
}

.progress-bar {
    background-color: var(--green);
}

.skils__design, .skills__web, .skills__marketing {
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
    margin-top: 41px;
    text-transform: uppercase;
}

.progress {
    height: 3px;
    max-width: 500px;
    width: 100%;
}

.skills__design_margin, .skills__web_margin, .skills__marketing_margin {
    margin-left: 18px;
}
/* SKILLS end */
/* =========================== */
/* REVIEWS start */
.reviews {
    padding: 71px 0 80px 0;
    background: var(--green);
    color: var(--white);
    text-transform: uppercase;
}

.reviews__num {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
}

.reviews__text {
    font-size: 12px;
    line-height: 30px;
}

i {
    font-size: 48px;
}
/* REVIEWS end */
/* =========================== */
/* CARD start */
.card {
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
    
}

.card__item {
    width: 25%;
    display: flex;
    height: 300px;
}

.card__link {
    width: 100%;
    position: relative;
}

.card__link:hover i {
    opacity: 1;
    box-shadow: inset 0 0 90px rgba(32, 22, 0, 0.42);
}

.pe-7s-look {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.card__load {
    background: var(--green);
    padding: 45px 0 40px;
    display: flex;
    flex-grow: 1;
}

.card__text {
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
    line-height: 1.2;
}

.card__text:hover {
    color: var(--white);
}
/* CARD end */
/* =========================== */
/* PROJECT start */
.project {
    padding: 90px 0 100px 0;
}

.project__title {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 18px;
}

.project__info {
    font-size: 22px;
    color: var(--grey);
    line-height: 33px;
    font-family: var(--ffnun);
    margin-bottom: 47px;
}

.project__vid {
    position: relative;
}

.project__arrow {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* PROJECT end */
/* =========================== */
/* INFO start */
.info {
background: var(--bgbright);
padding: 80px 0 100px 0;
}

.info__item {
    margin-top: 30px;
}

.info__title {
    font-size: 12px;
    font-weight: 30px;
    color: var(--dark);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.info__text {
    font-family: var(--ffnun);
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
}
/* INFO end */
/* =========================== */
/* SLIDER start */
.slider {
    background: var(--green);
    padding: 195px 0 50px 0;
}

.slider__indicators {
    margin-top: 100px;
    position: static;
}

.slider__text {
    font-size: 20px;
    color: var(--white);
    line-height: 29px;
}

.slider__title {
    font-size: 16px;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 40px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: 4px;
}

.carousel-indicators .active {
    width: 12px;
    height: 11px;
}
/* SLIDER end */
/* =========================== */
/* PARTNERS start */
.partners {
    padding: 67px 0 61px 0;
}
/* PARTNERS end */
/* =========================== */
/* TICKETS start */
.tickets {
    padding: 24px 0 100px 0;
    background: var(--bgbright);
}

.tickets__title {
    color: var(--darkAlt);
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 32px;
}

.tickets__text {
    font-size: 16px;
    font-family: var(--ffnun);
    color: var(--grey);
    line-height: 24px;
    margin-bottom: 39px;
}

.tickets__form {
    max-width: 730px;
    width: 100%;
}

.tickets__block_margin {
    margin-bottom: 30px;
}

.tickets__name, .tickets__email, .tickets__text, .tickets__area {
    border: none;
    padding-left: 15px;
    font-family: var(--ffnun);
    font-size: 15px;
    color: var(--grey);
}

.tickets__name:focus, .tickets__email:focus, .tickets__text:focus, .tickets__area:focus {
    outline: none;
}

.tickets__name {
    margin-right: 15px;
    max-width: 350px;
    width: 100%;
    height: 48px;
}

.tickets__email {
    margin-left: 15px;
    max-width: 350px;
    width: 100%;
    height: 48px;
}

.tickets__text {
    height: 48px;
}

.tickets__area {
    height: 170px;
}


.tickets__btn {
    border: none;
    padding: 23px 22px 22px 25px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: var(--green);
    color: var(--white);
}
/* TICKETS end */
/* =========================== */
/* FOOTER start */
.footer {
    padding: 100px 0;
    background: #000;
}

.footer__title {
    font-family: 18px;
    color: var(--white);
    margin-bottom: 28px;
}

.footer__info {
    font-family: var(--ffmyr);
    font-size: 15px;
    line-height: 24px;
    color: var(--darkGrey);
}

.footer__email, .footer__tel {
    font-family: var(--ffnun);
    font-size: 15px;
    line-height: 24px;
    color: var(--darkGrey);
    transition: 0.5s;
}

.footer__email:hover, .footer__tel:hover {
    color: var(--green);
}

.footer__menu_pading {
    padding: 0;
}

.footer__links {
    font-family: var(--ffnun);
    font-size: 15px;
    line-height: 24px;
    color: var(--darkGrey);
    transition: 0.3s;
}

.footer__links:hover {
    color: var(--green);
}
/* FOOTER end */